# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


public/photos/**/thumbnails
public/photos/**/compressed

public/photos/birdsblackbirds/_previews/*
public/photos/birds/cardinals_grosebeaks_allies/_previews/*
public/photos/birds/finches/_previews/*
public/photos/birds/flycatchers/_previews/*
public/photos/birds/game_birds/_previews/*
public/photos/birds/miscellaneous_others/_previews/*
public/photos/birds/raptors/_previews/*
public/photos/birds/shorebirds_herons_cranes/_previews/*
public/photos/birds/sparrows/_previews/*
public/photos/birds/warblers_kinglets/_previews/*
public/photos/birds/woodpeckers/_previews/*
public/photos/insects/_previews/*
public/photos/mammals/_previews/*
public/photos/plants_landscapes_miscellaneous_others/_previews/*


public/photos/birds/blackbirds/manifest.json
public/photos/birds/cardinals_grosebeaks_allies/manifest.json
public/photos/birds/finches/manifest.json
public/photos/birds/flycatchers/manifest.json
public/photos/birds/game_birds/manifest.json
public/photos/birds/miscellaneous_others/manifest.json
public/photos/birds/raptors/manifest.json
public/photos/birds/shorebirds_herons_cranes/manifest.json
public/photos/birds/sparrows/manifest.json
public/photos/birds/warblers_kinglets/manifest.json
public/photos/birds/woodpeckers/manifest.json
public/photos/insects/manifest.json
public/photos/mammals/manifest.json
public/photos/plants_landscapes_miscellaneous_others/manifest.json
